.card_setting * {
  box-sizing: border-box;
}

.card_setting img {
    width: 100%;
    height: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.button {
  background-color: #282828;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  /* margin: 4px 2px; */
  cursor: pointer;
  width: 50%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.left {
    border-bottom-left-radius: 5px;
}
.right {
    border-bottom-right-radius: 5px;
    border-left: 1px solid #FFF;
}
.button:hover {
  background-color: #FFF; /* Green */
  color: black;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 20px;
  padding-top: 20px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* padding: 20px; */
  /* text-align: center; */
  background-color: #f1f1f1;
  transition: 0.3s;
  border-radius: 5px;
}
