.contain {
    text-align: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.image-center {
    margin-top: 25%;
}

/* Float four columns side by side */
.flip-column {
  display: inline-block;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.flip-row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.flip-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .flip-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px;
  padding-top: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.flip-card-front {
  background-color: #282828;
  color: black;
  border-radius: 8px;
}

.flip-card-back {
  background-color: #DE1738;
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;
}
