/* Pale Gold - #C0B283
Silk - #DCD0C0
Paper - #F4F4F4
Charcoal - #373737 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  background-color: #0A0A0A;
  padding: 20px;
  margin: 0;
}
h1 {
    color: #D9B310;
}
h1, h2, h3, h4, p, ul, li {
  font-family: 'Roboto Mono', monospace;
}
ul {
    list-style-type: none;
}

.social:hover {
    background-color: #3e8e41
}

/* title stuff */
.title {
    text-align: center;
}
.padding-left {
    padding-left: 40px;
}
.padding-top {
    padding-top: 40px;
}
.padding {
    padding-top: 20px;
}
.padding-after {
    padding-bottom: 20px;
}
.title h3 {
   width: 100%;
   text-align: center;
   line-height: 0.1em;
   margin: 10px 0 20px;
   border-radius: 5px;
}
.title h3 span {
    background:#F4F4F4;
    padding:0 10px;
}

.fontb h3 {
    color: #005995;
    border-bottom: 3px solid #005995;
}
.fontr h3 {
    color: #005995;
    border-bottom: 3px solid #005995;
    /* Dark Maroon #950740 */
}
.fonty h3 {
    color: #005995;
    border-bottom: 3px solid #005995;
}
.bgb {
    background-color: #005995;
}
.bgr {
    background-color: #005995;
}
.bgy {
    background-color: #005995;
}
.topic {
    border-radius: 15px;
    padding: 20px;
}
.topic p {
    color: #FFF;
}
.topic h2 {
    color: #FFF;
}
.topic h3 {
    padding: 0;
    margin: 0;
    color: #FFF;
}
.content {
  /* text-align: center; */
  background-color: #F4F4F4;
  padding: 20px;
  margin-left: 20%; /* Same as the width of the sidenav */
  border-radius: 15px;
  width: 77%;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

/* Side Nav Stuff */
.sidenav {
  height: 92%;
  width: 18%;
  position: fixed;
  z-index: 1;
  /* top: 0;
  left: 0; */
  background-color: #282828;
  overflow-x: hidden;
  padding-top: 20px;
  border-radius: 15px;
  text-align: center;
}
.sidenav img {
    width: 100px;
    height: 120px;
    padding-bottom: 30px;
}
.sidenav .ni {
  font-family: 'Roboto Mono', monospace;
  /* padding: 6px 8px 6px 16px; */
  padding-top: 16px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
}
.sidenav .ni:hover {
  color: #F1F1F1;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.logo-container {
    padding-top: 40px;
}
