/* Pale Gold - #C0B283
Silk - #DCD0C0
Paper - #F4F4F4
Charcoal - #373737 */

body {
  background-color: #F2EEE2;
  padding: 20px;
  margin: 0;
}
h1 {
    color: #D9B310;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
.topic {
    border-radius: 15px 50px;
    background: #43C0F6;
    padding: 20px;
    /* height: 150px; */
}
.content {
  /* text-align: center; */
  background-color: #F4F4F4;
  padding: 20px;
  margin-left: 300px; /* Same as the width of the sidenav */
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

/* Side Nav Stuff */
.sidenav {
  height: 92%;
  width: 280px;
  position: fixed;
  z-index: 1;
  /* top: 0;
  left: 0; */
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #F1F1F1;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
